
DANA-4800-001-Data-Analysis-and-StatInfer-20287202520/projectb/data/

# French 1115 — very large local recording (keep on disk; do not commit)
french 1115/L4/Record (online-voice-recorder.com).mp3
/CPSC-4830-001/*.mat
/CPSC-4830-001/*.mp4
french\ 1115/L4/*.mp3 
/CPSC-4830-001/Regression - Part 1/Regression - Part 1.mp4
/dana 4830/assigment 1/data/df_train_preprocessed.csv
/dana 4830/assigment 1/df_train_preprocessed.csv
/dana 4830/assigment 1/ieee-fraud-detection.zip
/dana 4830/assigment 1/ydata_profile_report.html
/dana 4830/assigment 1/assigment 1.rar
/dana 4830/assigment 1/test_transaction.csv
/dana 4830/assigment 1/train_transaction.csv
/dana 4830/assigment 1/test_identity.csv
/dana 4830/assigment 1/data/df_train_preprocessed.rar
